{% extends 'base.html' %}
{% block container %}
    {% load static %}

    <div class="section-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-container-spacer text-center">
                        <h1 class="h2">03 : Men bilan bog'lanish</h1>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <form action="" class="reveal-content">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="elektron pochta" placeholder="elektron pochta">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="mavzu" placeholder="mavzu">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" rows="5"
                                                      placeholder=" xabaringizni kiriting   "></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-default btn-lg">Yuborish</button>
                                    </div>
                                    <div class="col-md-5 address-container">
                                        <ul class="list-unstyled">
                                            <li>
                          <span class="fa-icon">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                          </span>
                                                +998 91 113 60 96
                                            </li>
                                            <li>
                          <span class="fa-icon">
                            <i class="fa fa-at" aria-hidden="true"></i>
                          </span>
                                                abdurahmonk1987@gmail.com
                                            </li>
                                            <span class="fa-icon">
                            <i class="fa fa-at" aria-hidden="true"></i>
                          </span>
                                            abdurahmonk1006@gmail.com
                                            </li>
                                            <li>
                          <span class="fa-icon">
                            <i class="fa fa fa-map-marker" aria-hidden="true"></i>
                          </span>
                                                O'zbekiston Toshkent viloyati Chinoz tumani
                                            </li>
                                        </ul>
                                        <h3>Ijtimoiy tarmoqlarda menga obuna bo'ling</h3>
                                        <a href="http://www.facebook.com" title="facebook" class="fa-icon">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="http://www.twitter.com" title="twitter" class="fa-icon">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="http://www.linkedin.com" title="linkedin" class="fa-icon">
                                            <i class="fa fa-linkedin"></i>
                                        </a>

                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}